/**
宽高混入
*/
@mixin wh($width, $height) {
  width: $width;
  height: $height
}
/**
flex混入样式
*/
@mixin flexMixin($justifyContent: center, $alignItems: center, $flexFlow: row) {
  display: flex;
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-flow: $flexFlow;
}
/**
grid混入样式
*/
@mixin GridMixin($gridTemplateColumns: auto, $gridGap: auto, $gridAutoRows: auto) {
  display: grid;
  grid-template-columns: $gridTemplateColumns;
  grid-gap: $gridGap;
  grid-auto-rows: $gridAutoRows;
}
/**
字体混入样式
*/
@mixin fontMixin($fontSize, $fontWeight, $color: #fff) {
  font-size: $fontSize;
  font-weight: $fontWeight;
  color: $color;
}